# Python-related files
*.py[cod]
__pycache__/
*.pyo
*.pyd
*.egg-info/
*.eggs/
*.log

__pycache__/
*.pyc


# Django-specific files
media/
staticfiles/
db.sqlite3

# Ignore migrations if you prefer to generate them on the server
*/migrations/*
!*/migrations/__init__.py

# Ignore environment-specific files
.venv
*.venv
.env
.env.local
.env.*.local
config/settings/local.py  # Ignore local settings if you have different settings for production

# Ignore dependency and virtual environment files
venv/
env/
*.pip
Pipfile
Pipfile.lock
poetry.lock

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# Ignore logs and temp files
logs/
*.log
nohup.out
.DS_Store
Thumbs.db

# Ignore SSH and history files
.bash_history
.bashrc
serviceAccountKey.json


# ssh
*.pem
# Ignore Python bytecode
__pycache__/
*.pyc
